//Colors
$btn-default:#51ddfc;
$btn-error: #e4757a;
$btn-info: #927bc1;
$btn-success:#63cc82;
$btn-warning:#fd7856;

$color-3:#deb2ee;
$color-4:#7ee6fd;
$color-5:#88d9a0;
$color-6: #4da2bb;
$color-7: #ec9fa3;
$color-8: #fd9f85;

$font-base:#777;
$font-accent:#51ddfc;
$font-headline:#58e1c1;
//Media Map
$mq-med:768px;

//Font Stacks

$font-main:'Lato', sans-serif;