* {
    font-family:$font-main;
    color: $font-base;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
    
  }
  .link {
    color: $font-accent;
    font-weight: 700;
  }
  .headline-primary {
    color: $font-headline;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: 300;
    color: $font-base;
  }
  .blockquote {
    font-size: 1.5em;
    font-weight: 300;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $font-accent;
    border-radius: 5px;
  }
  